{% extends 'base.html' %} 

{% block content %}

{% block content_header %}
    <h3 style="text-transform: uppercase; margin: 20px;">{{ bom.style_number }}   {{bom.style_name}}</h3>
{% endblock %}
<hr>

<div class="container-lg">
  

  <ul class="nav nav-tabs">
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'bom_detail' bom.pk %}">BOM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">SKETCH</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">GRAPHIC</a>
    </li>
  
  </ul>


  
    <table class="table table-hover" style="margin-top: 50px;">
        <thead>
            <tr>
              <th>COMPONENT</th>
              <th>CODE</th>
              <th>VENDOR</th>
              <th>QUANTITY</th>
              <th>PLACEMENT</th>
              <th>COLOR</th>
              <th></th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th colspan="7" style="background-color: white; color: grey;">FABRIC</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
            {% for component in bom.component.all %}
              <td><a href="{% url 'components_show' component.pk %}">{{component.name}}</a></td>
              <td>{{component.article_code}}</td>
              <td>{{component.supplier}}</td>
              <td>N/A</td>
              <td style="max-width: 50px;">{{component.usage}}</td> 
              <td>{{component.color}}</td> 
              <td>
                <form class=>
                  <a href="{% url 'component_update' component.id %}">
                  <button class="btn btn-sm" style="color:white; background-color:#2C7D6F; font-weight: bold;" type="button">EDIT</button>
                  </a>
                </form>
              </td>
            </tr>
            {% endfor %}
            </tbody>
            <thead>
              <tr>
                <th colspan="7" style="background-color: white; color: grey;">TRIMS</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
              {% for trim in bom.trim.all %}
                <td><a href="{% url 'trims_show' trim.pk %}">{{trim.name}}</a></td>
                <td>{{trim.article_code}}</td>
                <td>{{trim.supplier}}</td>
                <td>{{trim.quantity}}</td>
                <td>{{trim.placment}}</td>
                <td>{{trim.color}}</td>
                <td>
                  <form class=>
                    <a href="{% url 'trim_update' trim.id %}">
                    <button class="btn btn-sm" style="color:white; background-color:#2C7D6F; font-weight: bold;" type="button">EDIT</button>
                    </a>  
                  </form>
                </td>
              </tr>
              {% endfor %}
              </tbody>
              <thead>
                <tr>
                  <th colspan="7" style="background-color: white; color: grey;">LABELS</th> 
                </tr>
              </thead>
              <tbody>
                <tr>
                {% for label in bom.label.all %}
                  <td><a href="{% url 'labels_show' label.pk %}">{{label.name}}</a></td>
                  <td>{{label.article_code}}</td>
                  <td>{{label.supplier}}</td>
                  <td>{{label.quantity}}</td>
                  <td style="max-width: 50px;">{{label.placement}}</td>
                  <td>{{label.color}}</td>
                  <td>
                    <form class=>
                      <a href="{% url 'label_update' label.id %}">
                      <button class="btn btn-sm" style="color:white; background-color:#2C7D6F; font-weight: bold;" type="button">EDIT</button>
                      </a>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>


      <div>
        <form class>
            <a href="{% url 'bom_update' bom.pk %}">
            <button class="btn btn-sm" style="color:white; background-color:#2C7D6F;" type="button">UPDATE BOM</button>
            </a>    
        </form>
      </div>


      
      {% endblock %}
        
