{% extends 'base.html' %} 

{% block content %}

{% block content_header %}
    <h3 style="text-transform: uppercase; margin: 20px;">{{ bom.style_number }}   {{bom.style_name}}</h3>
{% endblock %}
<hr>

<div class="container-sm">
    <table class="table table-hover" style="margin-top: 50px;">
        <thead>
            <tr>
              <th>COMPONENT</th>
              <th>CODE</th>
              <th>VENDOR</th>
              <th>QUANTITY</th>
              <th>PLACEMENT</th>
              <th>         </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th colspan="5" style="background-color: green; color: white;">FABRIC</th> 
              <th colspan="7" style="background-color: green; color: white;">COLOR</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
            {% for component in bom.component.all %}
              <td><a href="{% url 'components_show' component.pk %}">{{component.name}}</a></td>
              <td>{{component.article_code}}</td>
              <td>{{component.supplier}}</td>
              <td> <input style="min-height: 37px; border-radius: 5px; border-width: 1px; border-color: rgb(183, 183, 183)"type="text"> </td>
              <td id="usage">
                <input style="min-height: 37px; border-radius: 5px; border-width: 1px; border-color: rgb(183, 183, 183)" type="text"> 
              </td>
              <td>         </td>
              <td id="color">
                <input style="min-height: 37px; border-radius: 5px; border-width: 1px; border-color: rgb(183, 183, 183)"type="text"> 
              </td></td>
              
            </tr>
            {% endfor %}
            </tbody>
            <thead>
                <tr>
                  <th colspan="7" style="background-color: green; color: white;">TRIMS</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for component in bom.component.all %}
                  <td><a href="{% url 'components_show' component.pk %}">{{component.name}}</a></td>
                  <td>{{component.article_code}}</td>
                  <td>{{component.supplier}}</td>
                  <td>
                    <select id="quantity" class="form-select" aria-label="Default select example">
                      <option selected>     </option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="3">4</option>
                      <option value="3">5</option>
                      <option value="3">6</option>
                      <option value="3">7</option>
                      <option value="3">8</option>
                      <option value="3">9</option>
                      <option value="3">10</option>
                  </td>
                  <td id="usage">
                    <input style="min-height: 37px; border-radius: 5px; border-width: 1px; border-color: rgb(183, 183, 183)" type="text"> 
                  </td>
                  <td>         </td>
                  <td>
                    <select id="quantity" class="form-select" aria-label="Default select example">
                      <option selected>     </option>
                      <option value="{{component.colo}}">{{component.color}}</option>
            
                  </td>
                  
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                <th colspan="7" style="background-color: green; color: white;">LABELS</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for component in bom.component.all %}
                <td><a href="{% url 'components_show' component.pk %}">{{component.name}}</a></td>
                <td>{{component.article_code}}</td>
                <td>{{component.supplier}}</td>
                <td>{{component.quantity}}</td>
                <td>{{component.usage}}</td>
                <td>         </td>
                <td>{{component.color}}</td>
                
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                <th colspan="7" style="background-color: green; color: white;">PACKAGING</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for component in bom.component.all %}
                <td><a href="{% url 'components_show' component.pk %}">{{component.name}}</a></td>
                <td>{{component.article_code}}</td>
                <td>{{component.supplier}}</td>
                <td>{{component.quantity}}</td>
                <td>{{component.usage}}</td>
                <td>         </td>
                <td>{{component.color}}</td>
                
                </tr>
                {% endfor %}
            </tbody>
            
              












        </table>


        <div>
        <a href="{% url 'bom_update' bom.pk %}">UPDATE</a>
        <a href="{% url 'bom_delete' bom.pk %}">DELETE</a>
    </div>
      </div>

      
      {% endblock %}
        
