{% extends 'base.html' %}
{% block content %}

<div class="container-sm">
    <hr>
    <h3>FABRIC DETAILS</h3>
        <div class="card" style="width:25rem;">
            <img src="https://res.cloudinary.com/drpm12cy1/image/upload/c_scale,h_200/{{component.img}}" class="card-img-top" alt="{{component.name}}">
            <div class="card-body">
                <p>NAME: {{ component.name }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">USAGE: {{ component.usage }}</li>
                <li class="list-group-item">COLOR: {{ component.color }}</li>
                <li class="list-group-item">ARTICLE CODE: {{ component.article_code }}</li>
                <li class="list-group-item">SUPPLIER: {{ component.supplier }}</li>
                <li class="list-group-item">COST: {{ component.cost }}</li>
                <li class="list-group-item">MATERIAL COMPOSITION: {{ component.material_composition }}</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-sm" href="{% url 'component_update' component.pk %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">UPDATE</a>
                <a class="btn btn-sm" href="{% url 'component_delete' component.pk %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">DELETE</a>
            </div>
        </div> 
        <hr>    
</div>

{% endblock %}


