{% extends 'base.html' %}

{% block title %}
Bom List
{% endblock %}




{% block content %}
<div class="container-sm">

<h1 style="text-transform: uppercase; margin: 20px;">WELCOME TO BOM APP</h1>
<hr>

<p> TO USE THIS APP, PLEASE REGISTER FOR AN ACCOUNT & SIGN IN. ONCE SIGNED IN, YOU WILL BE ABLE TO NAVIGATE THE APPLICATION AND SEE A LIST OF BOMS YOU HAVE CREATED. </p>
<hr>
<p> TO CREATE A BOM SELECT "CREATE NEW BOM" FROM THE NAVIGATION BAR. THIS ACTION WILL ALLOW YOU TO CREATE A BOM UTILIZING PRE-LOADED FABRICS, TRIMS AND LABELS THAT ARE CREATED BY THE ADMIN TEAM. AS A USER, YOU WILL NEED TO ENTER IN THE STYLE NAME, DESCRIPTION, COLORWAY, PREVIEW IMAGE AND SKETCH TO THE BOM. ONCE THE BOM IS CREATED YOU CAN FIND IT IN THE "ALL BOMS" VIEW FROM THE NAVIGATION BAR.</p>

<p> TO UPDATE A BOM, NAVIGATE INTO THE BOM YOU WOULD LIKE TO SEE BY CLICKING ON THE BOM PREVIW OR STYLE NUMBER. SELECT THE "UPDATE BOM" BUTTON AT THE BOTTOM OF THE PAGE. YOU WILL THEN BE ABLE TO UPDATE THE BOM'S STYLE NUMBER, NAME, PREVIEW IMAGE, SKETCH, COLORWAY AND LIST OF COMPONENTS.</p>

<p> TO VIEW THE SKETCH ASSOCIATED WITH A PARTICULAR BOM, SELECT THE "SKETCH" NAVIGATION LINK WITHIN THE BOM. TO UPDATE THIS SKETCH, SELECT THE "UPDATE BOM" BUTTON AT THE BOTTOM OF THE PAGE. </p>

<p>TO SEARCH FOR A PARTICULAR BOM, SELECT THE "SEARCH" OPTION FROM THE NAVIGATION BAR, THIS WILL ALLOW YOU TO SEARCH BY STYLE NUMBER.</p>
<hr>

<p>TO VIEW MORE INFORMATION ABOUT A PARTICULAR COMPONENT, CLICK ON THE COMPONENT HYPERLINK WITHIN THE BOM. THIS WILL TAKE YOU TO THE COMPONENT'S DETAIL PAGE WHERE YOU CAN VIEW AN IMAGE, COST, MATERIAL COMPOSITION AND OTHER INFORMATION. THE "UPDATE" AND "DELETE" BUTTONS ARE FOR ADMIN USE ONLY.</p>

<p>ONLY ADMINS SHOULD BE RESPONSIBLE FOR CREATING, UPDATING OR DELETING A COMPONENT. TO UPDATE A COMPONENT SUCH AS THE FABRIC, TRIM OR LABEL, CLICK ON THE COMPONENT HYPERLINK WITHIN THE BOM. PLEASE NOTE THAT UPDATING OR DELETING THE COMPONENT WILL DELETE AND UPDATE EVERY INSTANCE OF THIS. IF YOU WISH TO NO LONGER HAVE THIS COMPONENT IN YOUR BOM, PLEASE REMOVE USING THE "UPDATE BOM" FEATURE. COMPONENT CREATION, DELETION AND UPDATES MAY ALSO BE MADE THROUGH THE ADMIN PORTAL.</p>
<hr>



  
</div>
{% endblock %}




