{% extends 'base.html' %}

{% block title %}
Bom List
{% endblock %}




{% block content %}
<div class="container-sm">

<h1 style="text-transform: uppercase; margin: 20px;">WELCOME TO BOM APP</h1>
<hr>

<p> TO USE THIS APP, PLEASE REGISTER FOR AN ACCOUNT & SIGN IN. ONCE SIGNED IN, YOU WILL BE ABLE TO NAVIGATE THE APPLICATION AND SEE A LIST OF BOMS YOU HAVE CREATED. </p>

<p> TO CREATE A BOM SELECT "CREATE NEW BOM" FROM THE NAVIGATION BAR. TO SEARCH FOR A PARTICULAR BOM, SELECT THE "SEARCH" OPTION FROM THE NAVIGATION BAR. THIS WILL ALLOW YOU TO SEARCH BY STYLE NUMBER OR FILTER BY SEASON OR CATEGORY. </p>

<p> TO CREATE A BOM SELECT "CREATE NEW BOM" FROM THE NAVIGATION BAR. TO SEARCH FOR A PARTICULAR BOM, SELECT THE "SEARCH" OPTION FROM THE NAVIGATION BAR. THIS WILL ALLOW YOU TO SEARCH BY STYLE NUMBER OR FILTER BY SEASON OR CATEGORY. </p>

<p> ONCE A BOM IS CREATED, YOU WILL BE ABLE TO UPDATE THE COMPONENTS SUCH AS FABRIC, TRIMS AND LABELS. YOU WILL ALSO BE ABLE TO UPLOAD A SKETCH TO HAVE CONNECTED TO THE BOM FOR EASY REFERENCE. ADDITIONALLY, TO SEE MORE INFORMATION ABOUT A PARTICULAR COMPONENT, CLICK ON THE HYPERLINK WITHIN THE BOM ITSELF. YOU WILL HAVE THE OPTION TO SEE AN IMAGE OF THE COMPONENT AS WELL AS DETAILED INFORMATION, WHICH CAN ALL BE UPDATED. IN A SIMILAR MANNER, YOU CAN UPDATE OR DELETE A BOM USING THE "UPDATE" OR "DELETE" BUTTONS INSIDE THE BOM.</p>

<hr>


  
</div>
{% endblock %}




