{% extends 'base.html' %}

{% block title %}
Bom List
{% endblock %}


{% block content %}

{% block content_header %}
    <h3 style="text-transform: uppercase;">{{ username }}'S RECENT FILES:</h3>
{% endblock %}


<h1>{{header}}</h1>
    {% for bom in boms %}
        <h3>Style Number: {{bom.style_number}}</h3>
        <h3>Description: {{bom.style_name}}</h3>
        <h3>Date Created: {{bom.created_at}}</h3>
        <h3>Season: {{bom.season}}</h3>
        <h3>Category: {{bom.category}}</h3>
        <h3>Colorways: {{bom.colorway}}</h3>
        <img src="{{bom.img}}" alt="{{bom.style_name}}" style="max-height: 300px">
    {% endfor %}
{% endblock %}

