
{% extends 'base.html' %}
{% block content %}

<div class="container-sm">
    <hr>
    <h3>LABEL DETAILS</h3>
        <div class="card" style="width:25rem;">
            <img src="https://res.cloudinary.com/drpm12cy1/image/upload/c_scale,h_200/{{label.img}}" class="card-img-top" alt="{{lable.name}}">
            <div class="card-body">
                <p>NAME: {{ label.name }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">PLACEMENT: {{ label.placement }}</li>
                <li class="list-group-item">COLOR: {{ label.color }}</li>
                <li class="list-group-item">ARTICLE CODE: {{label.article_code }}</li>
                <li class="list-group-item">SUPPLIER: {{ label.supplier }}</li>
                <li class="list-group-item">COST: {{ label.cost }}</li>
                <li class="list-group-item">MATERIAL COMPOSITION: {{ label.material_composition }}</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-sm" href="{% url 'label_update' label.id %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">UPDATE LABEL</a>
                <a class="btn btn-sm" href="{% url 'label_delete' label.id %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">DELETE LABEL</a>
            </div>
        </div> 
        <hr>    
</div>

{% endblock %}











