
{% extends 'base.html' %}
{% block content %}

<div class="container-sm">
    <hr>
    <h3>TRIM DETAILS</h3>
        <div class="card" style="width:25rem;">
            <img src="https://res.cloudinary.com/drpm12cy1/image/upload/c_scale,h_200/{{trim.img}}" class="card-img-top" alt="{{trim.name}}">
            <div class="card-body">
                <p>NAME: {{ trim.name }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">PLACEMENT: {{ trim.placement}}</li>
                <li class="list-group-item">COLOR: {{ trim.color }}</li>
                <li class="list-group-item">ARTICLE CODE: {{ trim.article_code }}</li>
                <li class="list-group-item">SUPPLIER: {{ trim.supplier }}</li>
                <li class="list-group-item">COST: {{ trim.cost }}</li>
                <li class="list-group-item">MATERIAL COMPOSITION: {{ trim.material_composition }}</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-sm" href="{% url 'trim_update' trim.id %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">UPDATE TRIM</a>
                <a class="btn btn-sm" href="{% url 'trim_delete' trim.id %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">DELETE TRIM</a>
            </div>
        </div> 
        <hr>    
</div>

{% endblock %}


