
{% extends 'base.html' %} 

{% block content %}
<div class="container-sm">
  <P>ARE YOU SURE YOU WANT TO DELETE {{trim.name}}?</p>
    <form method="post">
      {% csrf_token %}
      <div>
       <!-- confirm delete -->
        <input type="submit" value="Confirm" class="btn btn-sm" style="color:white; background-color:#2C7D6F; font-weight: bold; text-transform: uppercase;"/>
        <!-- Redirect back to detail on cancel -->
        <a class="btn btn-sm" href="{% url 'trims_show' trim.id %}" role="button" style="color:white; background-color:#2C7D6F; font-weight: bold;">CANCEL</a>
      </div>
    </form>

</div>

{% endblock %}


